{% extends 'base.html.twig' %}
{% form_theme registrationForm 'bootstrap_4_layout.html.twig' %}
{% block title %}Inscrire un client {% endblock %}

{% block body %}
<div class="container-fluid mt-4">
    <div class="jumbotron">
        <h1 class="display-4" style="text-align: center;">Inscrire un client</h1>
    </div>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.password) }}
    {{ form_widget(registrationForm) }}
        <button  type="submit" class="btn btn-success"> OK </button>
    {{ form_end(registrationForm) }}

</div>
{% endblock %}
