{% extends 'adminbase.html.twig' %}

{% form_theme formProduit 'bootstrap_4_layout.html.twig' %}

{% block body %}

    <div class="container-fluid mt-4">

    <div class="jumbotron">

        <h1 class="display-4" style="text-align: center;"> Modifier le Produit</h1>

    </div>

        {{ form_start(formProduit) }}

        <div class="row">

            <div class="col-md-2">

                {{ form_row(formProduit.libelle) }}

            </div>

        </div>

        <div class="row">
            <div class="col-md-3">
                 {{ form_row(formProduit.prix)}} 
 
            </div>

        </div>

        <div class="row">
            <div class="col-md-3">
                {{ form_row(formProduit.description) }}
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                {{ form_row(formProduit.solde)}}
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                {{ form_row(formProduit.valeursolde) }}
            </div>
        </div>
         <div class="row">
            <div class="col-md-3">
                {{ form_row(formProduit.imageFile) }}
            </div>
        </div>
         <div class="row">
            <div class="col-md-3">
                {{ form_row(formProduit.souscategory) }}
            </div>
        </div>

        <button class="btn btn-success" type="submit">
            Enregistrer les modifications !
        </button>

        {{ form_end(formProduit) }}

    </div>
{% endblock %}
{% block javascripts %}


{% endblock %}
